<h1>Login</h1>
<form action="/users/login" method="POST" accept-charset="utf-8">
    <input type="text" name="login" value="">
    <input type="password" name="password" value="">
    <input type="submit" value="login...">
</form>
