<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type"
              content="text/html; charset=utf-8" />
        <title>Index</title>
    </head>
    <body>
        <h1>Exemplo de form com POST</h1>
        <form action="./mensagem_get" method="POST" accept-charset="utf-8">
            <label for="mensagem">mensagem:</label>
            <input type="text" name="mensagem" value="" />
            <input type="submit" name="enviar" value="enviar..."/>
        </form>
    </body>
</html>
