<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>List users</title>
    </head>
    <body>
        <h1>Users</h1>
        <ul>
        {{#users}}
            <li>{{nome}}</li>
        {{/users}}
        </ul>
    </body>
</html>
