<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>New</title>
    </head>
    <body>
        <h1>New</h1>
        <form action="/user/create" method="POST" accept-charset="utf-8">
            <p>
                <label for="nome">Nome:</label><input type="text" name="nome" value="" id="nome" autocomplete="off">
            </p>
            <p>
                <label for="profissao">Profissão</label><input type="text" name="profissao" value="" id="profissao" autocomplete="off">
            </p>
            <input type="submit" value="Adicionar &rarr;">
        </form>
        <a href="/">voltar</a>
    </body>
</html>
