<h1>Lista de usuários</h1>
<p>
    <a href="users/new">Novo</a>
</p>
<form action="" method="get" accept-charset="utf-8">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" value="" id="nome">
    <input type="submit" value="pesquisar &rarr;">
</form>
<ul>
{{#users}}
    <li>{{nome}}</li>
{{/users}}
</ul>
