<h1>New</h1>
<form action="/users/create" method="POST" accept-charset="utf-8">
    <p>
        <label for="nome">Nome:</label><input type="text" name="nome" value="" id="nome" autocomplete="off">
    </p>
    <p>
        <label for="profissao">Profissão</label><input type="text" name="profissao" value="" id="profissao" autocomplete="off">
    </p>
    <input type="submit" value="Adicionar &rarr;">
</form>
<a href="../">voltar</a>
