<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Index</title>
    </head>
    <body>
        <h1>Exemplo uploads</h1>
        <form action="upload" method="post" enctype="multipart/form-data">
            <input type="file" name="arquivo" value="" />
            <input type="submit" value="upload &rarr;" />
        </form>
        <ul>
        {{#each images}}
            <li><img src="uploads/{{this}}"/></li>
        {{/each}}
        </ul>
    </body>
</html>
