<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type"
              content="text/html; charset=utf-8" />
        <title>Lista de usuários</title>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <h1>Lista de usuários</h1>
        <nav>
            <ul>
                <li><a href="a">A</a></li>
                <li><a href="b">B</a></li>
                <li><a href="c">C</a></li>
            </ul>
        </nav>
        <ul>
            {{#each users}}
            <li>{{nome}}</li>
            {{/each}}
        </ul>
    </body>
</html>
