<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type"
              content="text/html; charset=utf-8" />
        <title>Abobrinha</title>
    </head>
    <body>
        <h1>Página de Abobrinha</h1>
    </body>
</html>
