<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type"
              content="text/html; charset=utf-8" />
        <title>Pepino</title>
    </head>
    <body>
        <h1>Página Pepino</h1>
        <ul>
        {{#each nomes}}
            <li>{{this}}</li>
        {{/each}}
        </ul>
    </body>
</html>
