<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Show User - {{nome}}</title>
    </head>
    <body>
        <h1>{{nome}}</h1>
        <p>{{profissao}}</p>
        <a href="/">voltar</a>
    </body>
</html>
